.container
  .jumbotron
    %h2 Rides 
    %table.table-striped.table-responsive
      %thead
        %tr
          %th.col-md-2 From
          %th.col-md-2 To
          %th.col-md-2 Date
          %th.col-md-2 Time
          %th.col-md-2 Distance
      %tbody
        - @rides.each do |ride|
          %tr
            %td= ride.from
            %td= ride.to
            %td= ride.date.to_formatted_s(:long_ordinal)
            %td= ride.time.to_s(:time)
            %td= "#{ride.distance} km"
            - if current_user.id == ride.user_id
              %td.btn-group.btn-group-sm{"aria-label" => "Actions", :role => "group"}
                =link_to 'Show', ride, :class => "btn btn-secondary btn-success"
                =link_to 'Edit', edit_ride_path(ride), :class => "btn btn-secondary btn-warning"
                =link_to 'Destroy', ride, :class => "btn btn-secondary btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
            - else
              %td= link_to 'Show', ride, :class => "btn btn-success btn-sm"
